<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Smart Water{% endblock %}</title>
    {% block css %}
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

      <link rel="stylesheet" href="/static/main/css/base.css">
      <link rel="stylesheet" href="/static/main/css/header.css">
      <link rel="stylesheet" href="/static/main/css/footer.css">
      {% block css_1 %} {% endblock %}
    {% endblock %}
  </head>
  <body>

    {% block header %}
      {% include 'main/header.html' %}
    {% endblock %}

    <div class="content">
      {% block content %}
        <h1>Smart Water</h1>
      {% endblock %}
    </div>

    {% block footer %}
    {% include 'main/footer.html' %}
    {% endblock %}

    {% block js %}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script>
        $(document).ready(function(){
            $('[data-toggle="popover"]').popover({
              html: true
            });
        });
      </script>
      <script>
        $(document).ready(function(){
          $('{%block active_nav%}#any_nav{%endblock%}').addClass('active')
        })
      </script>
      {% block js_1 %} {% endblock %}
    {% endblock %}
  </body>
</html>
