{% extends 'customer/customer_base.html' %}
{% block title %}App Rate{% endblock %}
{% block content %}
<div class="container">
  <h3>App Rate</h3>
  <hr />
  <div>
    <h4>My Rate</h4>
    <form method="POST">
      {% csrf_token %}
      <div>
        <select name="rate">
          <option value="1" {% if my_rate.rate == 1 %}selected{% endif %} >1 Sao</option>
          <option value="2" {% if my_rate.rate == 2 %}selected{% endif %} >2 Sao</option>
          <option value="3" {% if my_rate.rate == 3 %}selected{% endif %}>3 Sao</option>
          <option value="4" {% if my_rate.rate == 4 %}selected{% endif %}>4 Sao</option>
          <option value="5" {% if my_rate.rate == 5 %}selected{% endif %}>5 Sao</option>
        </select>
      </div>
      <hr />
      <div>
        <textarea name="message" placeholder="Message"  style="width:100%;max-width:600px;height:100px" >
          {{my_rate.message}}
        </textarea>
      </div>
      <button type="submit">Send</button>
    </form>
    <hr />
    <div>
      <h4>AVG</h4>
      {{avg_rate}} Sao
    </div>
    <hr />
    <div>
      <h4>Rates</h4>
      <hr />
      <div>
        {% for r in app_rates %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <label>
              {{r.rate}} Sao
            </label>
             - {{r.created_at}}
          </div>
          <div class="panel-body">
            <label>
              {{r.customer.name}}:
            </label>
            {{r.message}}
          </div>
        </div>
        {% empty %}
          Empty
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
